<!-- html转义 -->
<!-- {php echo  htmlspecialchars_decode($row['u_nickname'])} -->

<style type="text/css">
.container{width: 100%;}
.main{margin: 5px 0;}

.div_warp{
	word-break: break-all;
	 word-wrap:break-word;
}

.div_text{
	/*border-bottom:1px solid #eaeaea;*/
	padding:2px 0;
	/*overflow: hidden;*/
}
.text_tl{text-align: left;}
.text_tr{text-align: right;}

.form-group{margin-bottom:5px!important;}
.panel-heading{padding: 5px 15px;}
.panel .panel-body{padding:5px!important;}
.hidev{display: none;}
.showv{display: block;}
.paneltop{padding-top:2px;}
.table{margin-bottom: 5px;}
.pagination{margin:5px 0;}
.right-content .nav.nav-tabs {
    margin-bottom:0px;
}
.right-content .main {
    margin: 0px 0!important;
    
}
.c_red{color:red;padding:2px;}

.right-content{
padding:5px 5px 5px 5px!important;
}

.we7-form .form-group, form .form-group{
margin-bottom: 10px;
}
.panel-body{
padding:10px;	
}

.spankg{overflow:hidden;width:30px;margin:0;padding:0;float: left;font-size:10px;}
.spansp{float: left;}
.spanborder_left{border-right:1px solid black;}

.btn-primary.active{background-color:#5cb85c;border-color:#5cb85c;}
.btn-primary{background-color:gray;border-color:gray;}

.tb_center{}
.tb_center th,td{text-align: center;}

/* 图标样式 */

.icon_OK{
	background:url('{MODULE_URL}/resource/images/icon/3675.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;}
.icon_Cannel{
	background:url('{MODULE_URL}/resource/images/icon/25942.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}
.icon_tip{
	background:url('{MODULE_URL}/resource/images/icon/26022.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}

.icon_quest{
	background:url('{MODULE_URL}/resource/images/icon/3647.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}
.icon_warn{
	background:url('{MODULE_URL}/resource/images/icon/26013.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}
.icon_no{
	background:url('{MODULE_URL}/resource/images/icon/26374.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}
.icon_add{
	background:url('{MODULE_URL}/resource/images/icon/4240.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}

.icon_ptop{
	background:url('{MODULE_URL}/resource/images/icon/10939.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}

.icon_pbottom{
	background:url('{MODULE_URL}/resource/images/icon/11051.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}

.icon_pright{
	background:url('{MODULE_URL}/resource/images/icon/1419.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}

.icon_pleft{
	background:url('{MODULE_URL}/resource/images/icon/1497.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}

.icon_earth{
	background:url('{MODULE_URL}/resource/images/icon/1720.png') center center no-repeat;
	background-size:30px 30px;
	height:30px;
}


</style>