<!--<?PHP $user = \Slj123Tongcheng\model\SQL::one("
SELECT *
FROM " . tablename('slj123_pc_user') . "
WHERE `weid` = :uniacid
  && `id` = :id
", array(
	':uniacid' => $GLOBALS['_W']['uniacid'],
	':id' => intval($GLOBALS['_GPC']['user_id']),
));?>-->
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">
				用户认证
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['nickname']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">头像</label>
					<div class="col-sm-9 col-xs-12">
						<img src="{php echo tomedia($user['head'])}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">车主姓名</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['realname']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">性别</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{php echo $user['sex'] === '1' ? '男' : '女'}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">身份证号</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['identity']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">所在地区</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['area']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">初次领取驾照日期</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['initial_driving_license_date']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">车牌号</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['car_number']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">汽车车型</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['car_model']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">汽车颜色</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['car_color']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">车辆所有人</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['car_owner']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">车辆注册日期</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" class="form-control" value="{$user['car_register_date']}" style=" border: none; " readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">本人驾驶证</label>
					<div class="col-sm-9 col-xs-12">
						<img src="{php echo tomedia($user['driving_license'])}" style=" width: 200px; " />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">车辆行驶证</label>
					<div class="col-sm-9 col-xs-12">
						<img src="{php echo tomedia($user['driving_permit'])}" style=" width: 200px; " />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">身份证（正面）</label>
					<div class="col-sm-9 col-xs-12">
						<img src="{php echo tomedia($user['identity_front'])}" style=" width: 200px; " />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">身份证（反面）</label>
					<div class="col-sm-9 col-xs-12">
						<img src="{php echo tomedia($user['identity_back'])}" style=" width: 200px; " />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">已审核</label>
					<div class="col-sm-9 col-xs-12">
						<div class="radio radio-info radio-inline">
							<label for="use_base_type1"><input type="radio" id="use_base_type1" value="1" name="verified" data-eval-1="{if $user['verified'] == 1}" checked data-eval-2="{/if}"> 开启 </label>
						</div>
						<div class="radio radio-info radio-inline">
							<label for="use_base_type0"><input type="radio" id="use_base_type0" value="0" name="verified" data-eval-1="{if $user['verified'] == 0}" checked data-eval-2="{/if}"> 关闭 </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="merchant[uniacid]" value="{$GLOBALS['_W']['uniacid']}" />
			<input type="hidden" name="merchant[id]" value="{$merchant['id']}" />
			<input type="hidden" name="token" value="{$GLOBALS['_W']['token']}" />
		</div>
	</form>
</div>